<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /App_Fichaje-bar/api/

    # Permitir acceso directo a archivos y carpetas que existen
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Redirigir todo lo demás a index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
